SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:mysql://localhost:3306/product_management
DB_USERNAME=Javauser
DB_PASSWORD=Soumik$4321@
JWT_SECRET=Stl8mM0qXk1MCXnwSP4W6GEuCPuvLUutu7E2GP0WeXk=
JWT_EXPIRATION=86400000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
